# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Local DynamoDb
.dynamodb

starter/backend/sls-package.log
starter/backend/sls-test.yml
